<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>mapaServlet</servlet-name>
		<servlet-class>servlet.MapaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>agregarEsferaServlet</servlet-name>
		<servlet-class>servlet.AgregarEsferaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>crearEsferaServlet</servlet-name>
		<servlet-class>servlet.CrearEsferaServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>mapaServlet</servlet-name>
		<url-pattern>/mapa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>agregarEsferaServlet</servlet-name>
		<url-pattern>/agregarEsfera</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>crearEsferaServlet</servlet-name>
		<url-pattern>/crearEsfera</url-pattern>
	</servlet-mapping>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>c.tld</taglib-location>
	</taglib>
</web-app>
